* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}
h1 {
    color:blue;
    text-align: center;
    text-shadow: none;
}
body {
    background-color:aqua;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    background: linear-gradient(90deg,rgba(102, 196, 255, 1) 0%, rgba(121, 66, 194,)
    50%, rgba(212, 142, 194, 1) 100%);
}
form {
    text-align: center;
    border-radius: 50px;
    border-width: 20px;
    box-shadow:none;
        
}
h2 {
    text-align: center;
    color: black;
    background-color: yellow;
}
optgroup,option {
    color:blueviolet
}
div,label {
    color: red
}
.input-group input{
    width: 100%;
    padding: 15px 20px 15px 50px;
    border-radius: 15px;
    background-color: #e0e5ec;
    border: none;
    outline: none;
    font-size: 16px;
    color: #31344b;
    box-shadow: inset 5px 5px 10px #b8b9be, inset -5px -5px 10px #ffffff;
}
.input-group input::placeholder{
    color: #a3a3a3;
}
.input-group i {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #31344b;
    font-size: 20px;
}